<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Rafael Faita</h2>
            <h4>rfaita@gmail.com</h4>
        </div>
        <img src="https://via.placeholder.com/150/0000FF/808080?text=USER" alt="">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <mat-divider></mat-divider>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <mat-divider></mat-divider>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

</mat-nav-list>