<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{device.name}}
        </mat-card-title>
        <div fxFlex></div>
        <div fxLayoutAlign="end start" class="menu-header">
            <button mat-icon-button>
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>
    </mat-card-header>
    <mat-card-content>
        <h2>23º</h2>
    </mat-card-content>
    <!--<mat-card-content>
        <mat-icon>wifi_off</mat-icon>
    </mat-card-content>-->
    <mat-card-actions>
        <div fxFlex></div>
        <div fxLayoutAlign="end start">
            <button mat-button routerLink="/posts">
                <mat-icon>bar_chart</mat-icon> DATA
            </button>
            <button mat-button>
                <mat-icon>notifications</mat-icon> EVENTS
            </button>
        </div>
    </mat-card-actions>
</mat-card>