<div fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px" ngClass.gt-xs="ml-10">
    <app-iot-card fxFlex.sm="0 1 calc(33%-10px)" fxFlex.md="0 1 calc(25%-10px)" fxFlex.gt-md="0 1 calc(20%-10px)">
    </app-iot-card>
    <app-iot-card fxFlex.sm="0 1 calc(33%-10px)" fxFlex.md="0 1 calc(25%-10px)" fxFlex.gt-md="0 1 calc(20%-10px)">
    </app-iot-card>
    <app-iot-card fxFlex.sm="0 1 calc(33%-10px)" fxFlex.md="0 1 calc(25%-10px)" fxFlex.gt-md="0 1 calc(20%-10px)">
    </app-iot-card>
    <app-iot-card fxFlex.sm="0 1 calc(33%-10px)" fxFlex.md="0 1 calc(25%-10px)" fxFlex.gt-md="0 1 calc(20%-10px)">
    </app-iot-card>
    <app-iot-card fxFlex.sm="0 1 calc(33%-10px)" fxFlex.md="0 1 calc(25%-10px)" fxFlex.gt-md="0 1 calc(20%-10px)">
    </app-iot-card>
    <app-iot-card fxFlex.sm="0 1 calc(33%-10px)" fxFlex.md="0 1 calc(25%-10px)" fxFlex.gt-md="0 1 calc(20%-10px)">
    </app-iot-card>
    <app-iot-card fxFlex.sm="0 1 calc(33%-10px)" fxFlex.md="0 1 calc(25%-10px)" fxFlex.gt-md="0 1 calc(20%-10px)">
    </app-iot-card>
    <app-iot-card fxFlex.sm="0 1 calc(33%-10px)" fxFlex.md="0 1 calc(25%-10px)" fxFlex.gt-md="0 1 calc(20%-10px)">
    </app-iot-card>
    <app-iot-card fxFlex.sm="0 1 calc(33%-10px)" fxFlex.md="0 1 calc(25%-10px)" fxFlex.gt-md="0 1 calc(20%-10px)">
    </app-iot-card>
    <app-iot-card fxFlex.sm="0 1 calc(33%-10px)" fxFlex.md="0 1 calc(25%-10px)" fxFlex.gt-md="0 1 calc(20%-10px)">
    </app-iot-card>
    <app-iot-card fxFlex.sm="0 1 calc(33%-10px)" fxFlex.md="0 1 calc(25%-10px)" fxFlex.gt-md="0 1 calc(20%-10px)">
    </app-iot-card>
    <app-iot-card fxFlex.sm="0 1 calc(33%-10px)" fxFlex.md="0 1 calc(25%-10px)" fxFlex.gt-md="0 1 calc(20%-10px)">
    </app-iot-card>
    <app-iot-card fxFlex.sm="0 1 calc(33%-10px)" fxFlex.md="0 1 calc(25%-10px)" fxFlex.gt-md="0 1 calc(20%-10px)">
    </app-iot-card>
</div>